@import 'variables.scss';

.line-item {
    display: flex;
    flex-direction: row;
}

.line-item + .line-item {
    margin-top: 0.5rem;
}

.line-item-title {
    font-weight: bold;
    color: $color-primary;
    margin-bottom: 0.5rem;
}

.line-item--text {
  width: 70%
}

.line-item--value {
    font-weight: bold;
}

.line-item-break {
    border-color: $color-dark;
}