<fieldset class="radio-group ">
   <span class="radio-btn">
     <label for="no_{{objectId}}">No</label>
     <input type="radio" id="no_{{objectId}}"
            name="selection_{{objectId}}" value="no"
            (click)="dataChange.emit(false)">
   </span>
   <span class="radio-btn">
     <label for="yes_{{objectId}}">Yes</label>
     <input type="radio"
            id="yes_{{objectId}}"
            name="selection_{{objectId}}" value="yes"
            (click)="dataChange.emit(true)">
   </span>
</fieldset>
