<fieldset>
   <span class="btn-radio-group">
     <input class="btn-radio"
         type="radio"
         id="no_{{objectId}}"
         name="selection_{{objectId}}"
         [checked]="data === false"
         (click)="dataChange.emit(false)">
     <label class="btn-label" for="no_{{objectId}}">No</label>
   </span>
   <span class="btn-radio-group">
     <input class="btn-radio"
         type="radio"
         id="yes_{{objectId}}"
         name="selection_{{objectId}}"
         [checked]="data === true"
         (click)="dataChange.emit(true)">
      <label  class="btn-label" for="yes_{{objectId}}">Yes</label>
   </span>
</fieldset>
