<fieldset>
   <span class="input-group-btn btn-group-lg mr-md-4">
     <input class="mr-md-2 btn-radio pointer"
         type="radio"
         id="no_{{objectId}}"
         name="selection_{{objectId}}" value="false"
         (click)="dataChange.emit(false)">
     <label for="no_{{objectId}}">No</label>
   </span>
   <span class="input-group-btn btn-group-lg">
     <input class="mr-md-2 btn-radio pointer"
         type="radio"
         id="yes_{{objectId}}"
         name="selection_{{objectId}}" value="true"
         (click)="dataChange.emit(true)">
      <label for="yes_{{objectId}}">Yes</label>
   </span>
</fieldset>
