<fpcare-page-framework layout='single'>

    <h1><i class="fa fa-2x fa-exclamation-circle" aria-label="warning"></i> Maitenance Mode</h1>

    <p>Start time: {{startTime}}</p>
    <p>End time: {{ endTime }}</p>
    <p>Message: {{ message }} </p>

    <div class="p-md-2 bg-light">
        <!-- Once the maintenence mode window is over you can refresh your browser to begin. -->
        {{ message }}
    </div>

<div class="p-md-4">
  <p>More information available on <a href="javascript:void(0)">Frequently Asked Questions</a></p>
  <p>If you require additional assistance, contact <a href="javascript:void(0)">HIBC Health Insurance</a></p>
</div>

</fpcare-page-framework>