<fpcare-request-template
        [data]= "cobRequest">
  <h1 title>Request Confirmation of your Fair PharmaCare Assistance</h1>

  <p>
    To have a copy of your Confirmation of Fair PharmaCare Assistance mailed to you, complete the 
    information below and select the Request Confirmation button. Please allow two to three weeks 
    for delivery.
  </p>

  <p>If you recently applied and your income has not yet been verified with the Canada Revenue 
    Agency, you will not receive a Confirmation of Assistance letter until your income has been 
    verified. To see your level of temporary assistance, enter the income you reported for you 
    and your spouse (if applicable) in the <a target="_blank" href="{{fpcare_calculator}}">Fair PharmaCare Calculator</a>.
  </p>

</fpcare-request-template>