<fpcare-page-framework layout='default'>

  <h1>Fair PharmaCare Calculator</h1>

   <div>
      You can view an estimate of your Fair PharmaCare Plan financial assistance by entering the requested information
      below.
   </div>

  <form #formRef="ngForm" novalidate>
      <h2 class="border-bottom">Financial Information</h2>

      <div class="form-group">
          <label class='no-bold' for="totalFamilyIncome">Enter your net income from {{taxYear}} &mdash; see Line 236 of your Notice of Assessment or Reassessment from Canada Revenue Agency.</label>

          <div class="input-group mb-3 col-md-6">
            <div class="input-group-prepend">
              <span class="input-group-text">$</span>
            </div>
            <input class="form-control"
                type="text"
                id="totalFamilyIncome"
                name="totalFamilyIncome"
                fpcareRequired="required"
                [ngModel]="income"
                (ngModelChange)="income = $event; update()"
                [textMask]="{mask: moneyMask}"
                placeholder="Enter Your Income"/>
          </div>
      </div>

      <div class="form-group">
        <label for="hasSpouse">Do you have a spouse/common-law partner?
          <fpcare-toggle id="hasSpouse" [data]='hasSpouse' (dataChange)="hasSpouse = $event; update();"></fpcare-toggle>
        </label>
        <p class="text-muted">Note: Failure to notify HIBC when you marry or begin living in a marriage-like relationship may impact the eligibility for your FPC registration.</p>
      </div>


      <div class="form-group" *ngIf='hasSpouse'>
          <label class='no-bold' for="spouseIncome">Enter your spouse's / common law partner's net income from {{taxYear}} &mdash; see Line 236 of your Notice of Assessment or Reassessment from Canada Revenue Agency.</label>

          <div class="input-group mb-3 col-md-6">
            <div class="input-group-prepend">
              <span class="input-group-text">$</span>
            </div>
            <input class="form-control"
                type="text"
                id="spouseIncome"
                name="spouseIncome"
                fpcareRequired="required"
                [ngModel]="spouseIncome"
                (ngModelChange)="spouseIncome = $event; update()"
                [textMask]="{mask: moneyMask}"
                placeholder="Enter Your Income"/>
          </div>
      </div>

      <div class="form-group">
        <label for="bornBefore1939">Were you {{hasSpouse ?'or your spouse ': ''}}born in 1939 or earlier?
          <fpcare-toggle id='bornBefore1939' [data]='bornBefore1939'
                         (dataChange)="bornBefore1939 = $event; update();"></fpcare-toggle>
        </label>
      </div>

      <h2 class="border-bottom">Disability Information (if applicable)</h2>
      <div class="form-group">
          <label class='no-bold' for="disability">How much did you report for a Registered Disability Savings Plan on your income tax return {{taxYear}} (Line 125)?</label>
          <div class="input-group mb-3 col-md-6">
            <div class="input-group-prepend">
              <span class="input-group-text">$</span>
            </div>
            <input class="form-control"
                type="text"
                id="disability"
                name="disability"
                [ngModel]="disabilityFormatted"
                (ngModelChange)="disabilityFormatted = $event; update();"
                [textMask]="{mask: moneyMask}"
                placeholder="Enter Disability Savings Amounts"/>
          </div>
      </div>
        
  </form>

  <aside>
    <fpcare-financial-calculator
      [income]="totalFamilyIncome"
      [bornBefore1939]="bornBefore1939"
      [hasSpouse]="hasSpouse"
      [disabilitySavingsAmount]="disabilityAmount"
      (incomeAdjustment)="onIncomeAdjustment($event)"
    ></fpcare-financial-calculator>
  </aside>

   <fpcare-form-action-bar
       *ngIf="!standalone"
       [submitLabel]="buttonText"
       [defaultColor]="false"
       [canContinue]="canContinue()"
       (btnClick)="continue()">
   </fpcare-form-action-bar>

</fpcare-page-framework>