<fpcare-page-framework layout='default'>

  <p>
    Financial review works! in page framework
  </p>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea autem eius qui quod illo vitae corrupti fugiat doloremque, architecto iure rem, mollitia officiis eligendi quisquam soluta culpa incidunt omnis dicta.</p>
  <p>Cupiditate voluptatem numquam est voluptatibus? Distinctio, assumenda ipsum ipsam doloribus nihil odio ratione officiis accusamus recusandae tempora. Delectus, consequatur expedita natus mollitia exercitationem maiores officia asperiores saepe quam officiis unde?</p>
  <p>Recusandae ad itaque nam eligendi suscipit blanditiis enim autem nobis rerum quos, voluptatum deleniti, alias adipisci tenetur est. Quo reprehenderit laborum eos at soluta sapiente exercitationem aliquid, quod numquam architecto.</p>

  <aside>
    <strong>Financial aside!</strong>
    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eaque modi ipsum cumque tempore dolore explicabo libero, dolor dignissimos debitis minus voluptate quas culpa dolores atque inventore unde iure. Reiciendis, ea.
  </aside>

</fpcare-page-framework>