<fpcare-consent-modal
        #consentModal
        (onConsented)="onAccept($event)">
</fpcare-consent-modal>

<fpcare-page-framework layout='default'>

  <div>
    <ng-content select="[title]"></ng-content>

    <ng-content></ng-content>
  </div>

  <div>
    <h2 class="border-bottom">Your Information</h2>
  </div>

  <form #formRef="ngForm" novalidate>
    <div class="row mx-lg-0">
      <div class="bg-light p-lg-2 col-lg-6">
        <div class="form-group">
          <label for="phn">Personal Health Number (PHN)</label>
          <input class="form-control"
                 type="text"
                 id="phn"
                 name="phn"
                 fpcareRequired="required,phn-check"
                 [(ngModel)]="applicant.phn"/>
        </div>

        <div class="form-group">
          <label>Birth Date</label>
          <fpcare-date
                  [useCurrentDate]="false"
                  [date]="applicant.dateOfBirth"
                  [restrictDate]="'past'">
          </fpcare-date>
        </div>

        <div class="form-group">
            <fpcare-postal-code [(value)]="applicant.address.postal" ></fpcare-postal-code>
        </div>
      </div>
    </div>

    <div class="mt-4 px-3 px-md-2">
      <captcha [apiBaseUrl]="captchaApiBaseUrl" [nonce]="nonce" (onValidToken)="setToken($event)"></captcha>
    </div>
  </form>

  <aside>

    <div>
      <h5>PHN</h5>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
   </div>
  </aside>

  <fpcare-form-action-bar
          [submitLabel]="data.label"
          [canContinue]="canContinue()"
          (click)="continue()"
          [isLoading]="loading">
  </fpcare-form-action-bar>

</fpcare-page-framework>
