<fpcare-consent-modal
        #consentModal
        (onConsented)="onAccept($event)">
</fpcare-consent-modal>

<fpcare-page-framework layout='default'>

  <div>
    <ng-content select="[title]"></ng-content>

    <ng-content></ng-content>
  </div>

  <div>
    <h2 class="border-bottom">Your Information</h2>
  </div>

  <form #formRef="ngForm" novalidate>
    <div class="row mx-lg-0">
      <div class="bg-light p-lg-2 col-lg-6">
        <div class="form-group">
          <fpcare-phn [(value)]="applicant.phn"> </fpcare-phn>
        </div>

        <div class="form-group">
          <fpcare-date
                  [useCurrentDate]="false"
                  [date]="applicant.dateOfBirth"
                  [restrictDate]="'past'"
                  [label]="'Birth Date'">
          </fpcare-date>
        </div>

        <div class="form-group">
            <fpcare-postal-code [(value)]="applicant.address.postal" ></fpcare-postal-code>
        </div>
      </div>
    </div>
  </form>

  <aside>

    <div>
      <p class="h5">{{phnHdr}}</p>
      <p>{{phnDef}}</p>
   </div>
  </aside>

  <fpcare-form-action-bar
          [submitLabel]="data.label"
          [canContinue]="canContinue()"
          (btnClick)="continue()"
          [isLoading]="loading">
  </fpcare-form-action-bar>

</fpcare-page-framework>
