<fpcare-page-framework layout='default'>

  <p>
    registration-requirements works!
  </p>

  <aside>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates incidunt commodi alias obcaecati et repellendus dolores voluptas. Ex facilis corrupti beatae, sequi velit optio debitis voluptas dolorem perferendis iure! Eius!</p>
    <p>Excepturi quaerat quia laborum sunt. Esse inventore perspiciatis, incidunt dignissimos in mollitia modi hic corrupti rerum dolorem nobis possimus quaerat quisquam nemo quis temporibus voluptas eos! Nihil officia asperiores voluptatum!</p>
    <p>Quaerat delectus deserunt doloremque ipsum aliquid earum illum reiciendis ad, et, velit, repellendus minima similique? Sit aut ullam laboriosam aperiam atque cum, sed maxime doloremque veritatis, nam quaerat, rem dolore.</p>
  </aside>


  <a (click)="continue()">
    <button class="btn btn-block btn-lg btn-secondary">
      Register for Fair PharmaCare
    </button>
  </a>
</fpcare-page-framework>