<fpcare-page-framework layout='single'>

  <!-- Information for completing this section -->
  <!-- TODO: Link the Medical Services Plan and Canada Revenue Agency to URLs -->
  <div>
    <h1>Family Information</h1>
    <p>
      Enter each person's name as shown on your income tax return. (If your name as it appears on your
      BC Service Card is different from the name show on your income tax return, continue with your
      Fair PharmaCare registration and notifiy <a href="javascript:void(0)">Medical Services Plan</a>
      or <a href="javascript:void(0)">Canada Revenue Agency</a> as soon as possible).
    </p>
  </div>

  <!-- Information required to complete this section -->
  <div>
    <h2>Your Information</h2>

    <div class="row">
      <div class="col-sm">
        <label for="ap_firstnm">First Name</label>
        <input type="text" id="ap_firstnm" name="ap_firstnm" maxLength="30"/>
      </div>
      <div class="col-sm">
        <label for="ap_middlenm">Middle Name</label>
        <input type="text" id="ap_middlenm" name="ap_middlenm" maxLength="30"/>
      </div>
      <div class="col-sm">
        <label for="ap_lastnm">Last Name</label>
        <input type="text" id="ap_lastnm" name="ap_lastnm" maxLength="30"/>
      </div>
    </div>

    <div class="row">
      <div class="col-sm">
        <label>Birthdate</label>
        <!-- TODO: add datepicker -->
      </div>
      <div class="col-sm">
        <label for="ap_phn">PHN</label>
        <input type="text" id="ap_phn" name="ap_phn" maxLength="13"/>
      </div>
      <div class="col-sm">
        <label for="ap_sin">SIN</label>
        <input type="text" id="ap_sin" name="ap_sin" maxLength="13"/>
      </div>
    </div>
  </div>

  <!-- Information required to complete this section - ONLY if indicated that the applicant has a spouse -->
  <div>
    <h2>Spouse Information</h2>

    <div class="row">
      <div class="col-sm">
        <label>First Name</label>
        <input type="text" id="sp_firstnm" name="sp_firstnm" maxLength="30"/>
      </div>
      <div class="col-sm">
        <label>Middle Name</label>
        <input type="text" id="sp_middlenm" name="sp_middlenm" maxLength="30"/>
      </div>
      <div class="col-sm">
        <label>Last Name</label>
        <input type="text" id="sp_lastnm" name="sp_lastnm" maxLength="30"/>
      </div>
    </div>

    <div class="row">
      <div class="col-sm">
        <label>Birthdate</label>
        <!-- TODO: add datepicker -->
      </div>
      <div class="col-sm">
        <label>PHN</label>
        <input type="text" id="sp_phn" name="sp_phn" maxLength="13"/>
      </div>
      <div class="col-sm">
        <label>SIN</label>
        <input type="text" id="sp_sin" name="sp_sin" maxLength="13"/>
      </div>
    </div>
  </div>

  <fpcare-form-action-bar
        [canContinue]="canContinue()"
        (click)="continue()">
  </fpcare-form-action-bar>

</fpcare-page-framework>