<fpcare-page-framework layout='default'>

  <!-- Information for completing this section -->
  <div>
    <h1>Family Information</h1>
    <p>
      Enter each person's name as shown on your income tax return. (If your name as it appears on your
      BC Service Card is different from the name show on your income tax return, continue with your
      Fair PharmaCare registration and notifiy
       <a href="https://www2.gov.bc.ca/gov/content/health/health-drug-coverage/msp"
          target="_blank">Medical Services Plan</a>
      or <a href="https://www.canada.ca/en/revenue-agency.html"
            target="_blank">Canada Revenue Agency</a> as soon as possible).
    </p>
  </div>


  <form #formRef="ngForm" novalidate>

    <!-- Information required to complete this section -->
    <h2 class="border-bottom">Your Information</h2>

    <div class="p-md-2 col-md-6">

      <div class="form-group">
         <fpcare-name
           [label]="'Given Name'"
           [nameMaxLen]="maxLenGivenName"
           [(value)]="applicant.firstName">
         </fpcare-name>
      </div>
      <div class="form-group">
         <fpcare-name
           [label]="'Surname'"
           [nameMaxLen]="maxLenSurname"
           [(value)]="applicant.lastName">
         </fpcare-name>
      </div>
      <div class="form-group">
         <fpcare-sin
             [(value)]="applicant.sin">
         </fpcare-sin>
      </div>
      <div class="form-group">
        <!-- DOB ready only field - set in previous page -->
        <label for="ap_dob">Birthdate</label>
        <input class="form-control"
               id="ap_dob"
               name="ap_dob"
               disabled
               [value]="getApplicantDob()"/>
      </div>
      <div class="form-group">
        <!-- PHN ready only field - set in previous page -->
         <fpcare-phn
             [value]="applicant.phn"
             [disabled]="'true'">
         </fpcare-phn>
      </div>
    </div>

    <!-- Information required to complete this section - ONLY if indicated that the applicant has a spouse -->
    <div *ngIf="hasSpouse">
      <h2 class="border-bottom">Spouse Information</h2>
      <div class="p-md-2 col-md-6">
        <div class="form-group">
           <fpcare-name
               [label]="'Given Name'"
               [(value)]="spouse.firstName">
           </fpcare-name>
        </div>
        <div class="form-group">
           <fpcare-name
               [label]="'Surname'"
               [(value)]="spouse.lastName">
           </fpcare-name>
        </div>
        <div class="form-group">
           <fpcare-sin
               [(value)]="spouse.sin">
           </fpcare-sin>
          <div *ngIf="hasUniqueSinError()" role="alert" aria-live="assertive">
            <div class="text-danger">This Social Insurance Number was already used for registrant.</div>
          </div>
        </div>
        <div class="form-group">
          <!-- DOB ready only field - set in previous page -->
          <label for="sp_dob">Birthdate</label>
          <input class="form-control"
                 id="sp_dob"
                 name="sp_dob"
                 disabled
                 [value]="getSpouseDob()"/>
        </div>
        <div class="form-group">
         <!-- PHN ready only field - set in previous page -->
         <fpcare-phn
            [value]="spouse.phn"
            [disabled]="'true'">
         </fpcare-phn>
        </div>
      </div>
    </div>
  </form>

  <aside>
    <p><strong>Personal Info aside!</strong>
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eaque modi ipsum cumque tempore dolore explicabo libero, dolor dignissimos debitis minus voluptate quas culpa dolores atque inventore unde iure. Reiciendis, ea.
    </p>
  </aside>

  <fpcare-form-action-bar
        [canContinue]="canContinue()"
        (btnClick)="continue()">
  </fpcare-form-action-bar>

</fpcare-page-framework>