<form #formRef='ngForm' novalidate>

    <fpcare-date
            showError="true"
            useCurrentDate="false"
            [date]="dob"
            [restrictDate]="past">
    </fpcare-date>


        <!-- Need to set this up correctly based on ablove il8n variables
        <div *ngIf='yearRef.dirty || showError'>
            <div class="text-danger" *ngIf="yearRef.errors?.pattern"
                 [innerHtml]="lang('./en/index.js').invalidYearPattern"></div>
        </div>
        <div *ngIf="(yearRef.touched || showError) && !isCorrectFormat()">
            <div class="text-danger"
                 [innerHtml]="lang('./en/index.js').yearErrorBadFormat"></div>
        </div>
        <div *ngIf='(yearRef.touched || showError) && isInTheFuture()'>
            <div class="text-danger"
                 [innerHtml]="lang('./en/index.js').yearErrorFutureCheck"></div>
        </div>
        <div *ngIf='(yearRef.touched || showError) && tooFarInThePast()'>
            <div class="text-danger"
                 [innerHtml]="lang('./en/index.js').yearErrorDistantPast"></div>
        </div>
        <div *ngIf='(yearRef.touched || showError)'>
            <div class="text-danger" *ngIf="yearRef.errors?.yearDistantPast"
                 [innerHtml]="lang('./en/index.js').yearErrorDistantPast"></div>
        </div>
        <div *ngIf='(yearRef.touched || showError)'>
            <div class="text-danger" *ngIf="yearRef.errors?.yearDistantFuture"
                 [innerHtml]="lang('./en/index.js').yearErrorDistantFuture"></div>
        </div>
    </div>
    -->
</form>