.monthSelect {
  flex-basis: 125px !important;
  flex-grow: 3;
  height: 35px;
  margin-right: 5%;
}
.dayInput {
  flex-basis: 50px !important;
  flex-grow: 1;
  height: 35px;
  margin-right: 5%;
}
.yearInput {
  flex-basis: 75px !important;
  flex-grow: 2;
  height: 35px;
}
.error-container {
  flex-basis: 100% !important;
}

/* Remove spinners */
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
}

.form-group {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}