<fpcare-page-framework layout='default'>

  <h1>Mailing Address</h1>
  <div class="p-md-2">
    We use your address to mail Fair PharmaCare letters to you.
  </div>

  <form #formRef="ngForm" novalidate>
    <div class="p-md-2 col-md-6">
      <div class="form-group">
          <fpcare-postal-code [(value)]="applicant.address.postal" (valueChange)="checkPostal()"></fpcare-postal-code>
          <div *ngIf="!isPostalMatch" class='validation-alert' role="alert" aria-live="assertive">
            <div class="text-danger">The mailing address does not match our records.</div>
          </div>
      </div>
    </div>

    <!-- Displays when Postal Code does not match FPCare records -->
    <div *ngIf="!isPostalMatch">
      <h2 class="border-bottom">
        Update Your Mailing Address
      </h2>
      <p>
        Please provide your current mailing address.
      </p>
      <div class="p-md-2 col-md-6">
        <div class="form-group">
          <fpcare-geocoder-input label='(optional) Address Lookup'
                                 [(address)]='applicant.updAddress'
                                 (addressChange)='onGeoLookup()'></fpcare-geocoder-input>
        </div>
        <div class="form-group">
          <label for="street">Street</label>
          <input class="form-control"
                 type="text"
                 id="street"
                 name="street"
                 [maxlength]="streetMaxLength"
                 fpcareRequired
                 [ngModel]="applicant.updAddress?.street"
                 (ngModelChange)="applicant.updAddress.street=$event" />
        </div>
        <div class="form-group">
          <label for="city">City</label>
          <input class="form-control"
                 type="text"
                 id="city"
                 name="city"
                 [maxlength]="cityMaxLength"
                 fpcareRequired
                 [ngModel]="applicant.updAddress?.city"
                 (ngModelChange)="applicant.updAddress.city=$event" />
        </div>
        <div class="form-group">
          <label for="province">Province</label>
          <select class="form-control"
                  [ngModel]="applicant.updAddress?.province"
                  (ngModelChange)="applicant.updAddress.province=$event"
                  id="province"
                  name="province"
                  fpcareRequired>
            <option *ngFor="let prov of provinceName; let i = index;"
                    value="{{getProvinceID(i)}}">{{ prov }}</option>
          </select>
        </div>
        <div class="form-group">
          <fpcare-postal-code [value]="updatePostalCode" disabled></fpcare-postal-code>
        </div>
        <div class="form-group">
          <label for="country">Country</label>
          <input class="form-control"
                 type="text"
                 id="country"
                 name="country"
                 disabled
                 [ngModel]="countryName" />
        </div>
      </div>
    </div>
  </form>

  <aside>
      <p class="h5">Postal Code</p>
      <p>
        This information is used to confirm your identity and also to mail out Fair PharmaCare letters.
      </p>

      <p class="h5">Address Lookup</p>
      <p>
        The system will suggest addresses when you begin typing.  Pick your address from the list or enter it manually
        if not listed.  For apartments and suites, first enter the suite number followed by a space or two dashes (--)
        to find the exact match.
      </p>
  </aside>

  <fpcare-form-action-bar
          [canContinue]="canContinue()"
          (btnClick)="continue()">
  </fpcare-form-action-bar>

</fpcare-page-framework>
