<fpcare-page-framework layout='default'>

  <h1>Mailing Address</h1>
  <div class="p-md-2">
    This information is used to confirm your identity and also to mail out Fair PharmaCare letters.
  </div>

  <form #formRef="ngForm" novalidate>
    <div class="p-md-2 col-md-6">
      <div class="form-group">
          <fpcare-postal-code [(value)]="applicant.address.postal"></fpcare-postal-code>
      </div>
    </div>

    <!-- Displays when Postal Code does not match FPCare records -->
    <div *ngIf="!isPostalCodeMatch()">
      <h2 class="border-bottom">
        Update Your Mailing Address
      </h2>
      <div class="p-md-2 col-md-6">
        <div class="form-group">
          <label for="street">Street</label>
          <input class="form-control"
                 type="text"
                 id="street"
                 name="street"
                 fpcareRequired
                 [(ngModel)]="applicant.updAddress.street" />
        </div>
        <div class="form-group">
          <label for="city">City</label>
          <input class="form-control"
                 type="text"
                 id="city"
                 name="city"
                 fpcareRequired
                 [(ngModel)]="applicant.updAddress.city" />
        </div>
        <div class="form-group">
          <label for="province">Province</label>
          <input class="form-control"
                 type="text"
                 id="province"
                 name="province"
                 fpcareRequired
                 [(ngModel)]="applicant.updAddress.province" />
        </div>
        <div class="form-group">
            <fpcare-postal-code [(value)]="applicant.updAddress.postal"></fpcare-postal-code>
        </div>
        <div class="form-group">
          <label for="country">Country</label>
          <input class="form-control"
                 type="text"
                 id="country"
                 name="country"
                 fpcareRequired
                 [(ngModel)]="applicant.updAddress.country" />
        </div>
      </div>
    </div>
  </form>

  <aside>
    <div class="todo">
      <ul>
        <li>Add helper text to "aside"</li>
        <li>Need logic to compare postal code to determine whether address needs to be updated</li>
      </ul>
    </div>
  </aside>

  <fpcare-form-action-bar
          [canContinue]="canContinue()"
          (click)="continue()">
  </fpcare-form-action-bar>

</fpcare-page-framework>
