<common-page-framework layout='single' xmlns="http://www.w3.org/1999/html">

  <div>
    <h1>Give permission for your income tax information to be checked</h1>
  </div>

  <div>
    <h2 class="border-bottom">Declaration and Consent</h2>
    <p>
      Your online application is now complete. In order to make your Fair PharmaCare coverage permanent, we need to 
      check your income information with the Canada Revenue Agency (CRA). The CRA requires that you provide written 
      consent to share your income information. If you are married or living in a marriage-like relationship, your 
      spouse must also provide written consent.
    </p>
    <p>
      You will receive a letter at the address you provided, asking you to agree to the following statement:
    </p>
    <p>
      I consent to allow the Canada Revenue Agency to release information from my income tax returns and other required
      taxpayer information to the B.C. Ministry of Health and Health Insurance BC.
    </p>
    <p>
      The information provided will be used solely to determine, verify and administer my and/or my family's Fair
      PharmaCare Plan coverage, but may be aggregated for planning and evaluation purposes.
    </p>
    <p>
      I understand my information will be collected, used and disclosed in accordance with the British Columbia
      Pharmaceutical Services Act and the Freedom of Information and Protection of Privacy Act. It will not be
      disclosed to any persons without my consent.
    </p>
    <p>
      This consent is valid for the two taxation years before the year in which I sign this document, for the year in
      which I sign it and for each following taxation year in which I and/or my family am eligible for the Fair
      PharmaCare Plan.
    </p>
    <p>
      I understand that I can withdraw this consent at any time by writing to
      <a target="_blank" href="{{links.HIBC}}">Health Insurance BC</a>, PO Box 9655 Stn Prov Govt, Victoria BC V8W 9P2.
    </p>
  </div>

  <div>
    <h2 class="border-bottom">Your Information</h2>
    <div>
        Please confirm that you (and your spouse, if you have one):
        <ul>
          <li>filed tax returns for the tax year two years prior to this application, and</li>
          <li>agree to allow the CRA to share your income information with PharmaCare.</li>
      </ul>
    </div>
    <p class="h3">{{applicant.name}}, do you agree?</p>
    <span class="checkbox checkbox-success checkbox-inline mb-4 mb-md-0">
      <input type="checkbox" class="btn btn-lg mr-md-2" id="ap_agree" [(ngModel)]="applicantAgreement">
      <label class="form-check-label" for="ap_agree">Yes, I agree</label>
    </span>
  </div>

  <div *ngIf="hasSpouse" >
    <h2 class="border-bottom">Spouse/Common-law Partner Information</h2>
    <p class="h3">{{spouse.name}}, do you agree?</p>
    <span class="checkbox checkbox-success checkbox-inline mb-4 mb-md-0">
      <input type="checkbox" class="btn btn-lg mr-md-2" id="sp_agree" [(ngModel)]="spouseAgreement">
      <label class="form-check-label" for="sp_agree">Yes, I agree</label>
    </span>
    <p class="text-muted font-italic">
      Note: You may agree here on behalf of your spouse, but your spouse must sign the consent letter you receive.
    </p>
  </div>

  <common-form-action-bar
          [submitLabel]="buttonLabel"
          [canContinue]="canContinue()"
          (btnClick)="continue()"
          [isLoading]="loading">
  </common-form-action-bar>
</common-page-framework>