<fpcare-page-framework layout='default'>

  <h1>Child Information</h1>

  <h2>Your child's personal information</h2>

  <!-- Repeat for each child -->
  <form #formRef="ngForm" novalidate>
    <div *ngFor="let child of children; let i = index;">
      <!--Array starts at 0 add one -->
      <h2 class="border-bottom">
        Child #{{children.indexOf(child)+1}}
        <i class="fa fa-times ml-3 pointer" aria-hidden="true" (click)="removeChild( i )"></i>
      </h2>

      <div class="p-md-2 col-md-6">
        <div class="form-group">
           <fpcare-name
              [label]="'Given Name'"
              [(value)]="child.firstName">
           </fpcare-name>
        </div>
         <div class="form-group">
            <fpcare-name
                [label]="'Surname'"
                [(value)]="child.lastName">
            </fpcare-name>
         </div>
        <div class="form-group">
          <label for="ch_dob_{{i}}">Birthdate</label>
          <fpcare-date
                  id="ch_dob_{{i}}"
                  [useCurrentDate]="false"
                  [(date)]="child.dateOfBirth"
                  [restrictDate]="'past'">
          </fpcare-date>
          <div *ngIf="!legitimateDependant(child)" role="alert" aria-live="assertive">
            <div class="text-danger">Individual is too old.</div>
          </div>
        </div>
        <div class="form-group">
           <fpcare-phn
               [(value)]="child.phn">
           </fpcare-phn>
          <div *ngIf="hasUniquePhnError(child)" role="alert" aria-live="assertive">
            <div class="text-danger">This PHN was already used for another family member.</div>
          </div>
        </div>
      </div>
    </div>
  </form>

  <button class="btn btn-lg btn-block btn-default" (click)="addChild()" [disabled]="isAddDisabled()">
    Add Child
  </button>

  <aside>
    <strong>Child Info aside!</strong>
    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eaque modi ipsum cumque tempore dolore explicabo libero, dolor dignissimos debitis minus voluptate quas culpa dolores atque inventore unde iure. Reiciendis, ea.
  </aside>

  <fpcare-form-action-bar
          [submitLabel]="buttonLabel"
          [canContinue]="canContinue()"
          (click)="continue()">
  </fpcare-form-action-bar>

</fpcare-page-framework>