<fpcare-page-framework layout='default'>

  <div>
    <h1>
      Fair PharmaCare Registration Status Search
    </h1>

    <p>
      To inquire about the status of your Fair PharmaCare registration, enter you Registration
      Number.  If you do not have your registration number available, enter your Personal Health
      Number, Birthdate and Mailing Postal Code.
    </p>
    <p>
      If you registered by phone, a consent form has been mailed to you.  You will need to
      complete and sign the consent form to check your income with the Canada Revenue Agency
      (CRA) and confirm your level of financial assistance under Fair PharmaCare.  If you have
      returned your consent form, please allow 4 weeks for processing.
    </p>
    <p>
      If you registered by mail, please allow 6-8 weeks for us to process your application.
    </p>
  </div>

  <div>
    <h2 class="border-bottom">Your Information</h2>
  </div>

  <form #formRef="ngForm" novalidate>
    <div class="row">
      <div class="bg-light p-md-2 col-md-6">
        <div class="form-group">
          <label for="phn">Personal Health Number (PHN)</label>
          <input class="form-control"
                 type="text"
                 id="phn"
                 name="phn"
                 fpcareRequired="required,phn-check"
                 [(ngModel)]="applicant.phn">
        </div>

        <div class="form-group">
          <label>Birth Date</label>
          <fpcare-date
                  [useCurrentDate]="false"
                  [date]="applicant.dateOfBirth"
                  [restrictDate]="past">
          </fpcare-date>
        </div>

        <div class="form-group">
          <label for="mail_pc">Mailing Postal Code</label>
          <input class="form-control"
                 type="text"
                 id="mail_pc"
                 name="mail_pc"
                 fpcareRequired="required,postal-code"
                 [(ngModel)]="applicant.address.postal">
        </div>
      </div>
      <div class="col-md-1">
        <strong>OR</strong>
      </div>
      <div class="col-md-5">
        <div class="form-group p-md-2 bg-light">
          <label for="regNumber">Registration Number</label>
          <input class="form-control"
                 type="text"
                 id="regNumber"
                 name="regNumber"
                 fpcareRequired="required,regnum-check"
                 [(ngModel)]="applicant.fpcRegNumber">
        </div>
      </div>
    </div>
  </form>


  <div class="row p-md-2">
    <div class="col-md-6 p-md-4">
      Placeholder for Captcha
    </div>
  </div>

  <aside>
    <strong>TODO</strong>
    May need logic to handle when user touches all fields as the continue button will not enable.
  </aside>

  <fpcare-form-action-bar
          [canContinue]="canContinue()"
          (click)="continue()">
  </fpcare-form-action-bar>

</fpcare-page-framework>