<fpcare-page-framework layout='default'>

  <div>
    <h1>
      Fair PharmaCare Registration Status Search
    </h1>

    <p>
      To inquire about the status of your Fair PharmaCare registration, enter you Registration
      Number.  If you do not have your registration number available, enter your Personal Health
      Number, Birthdate and Mailing Postal Code.
    </p>
    <p>
      If you registered by phone, a consent form has been mailed to you.  You will need to
      complete and sign the consent form to check your income with the Canada Revenue Agency
      (CRA) and confirm your level of financial assistance under Fair PharmaCare.  If you have
      returned your consent form, please allow 4 weeks for processing.
    </p>
    <p>
      If you registered by mail, please allow 6-8 weeks for us to process your application.
    </p>
  </div>

  <div>
    <h2 class="border-bottom">Your Information</h2>
  </div>

  <form #formRef="ngForm" novalidate>
    <div class="row mx-lg-0">
      <div class="bg-light rounded p-lg-2 col-lg-6 order-sm-last order-lg-first">
        <div class="form-group">
          <label for="phn">Personal Health Number (PHN)</label>
          <input class="form-control"
                 type="text"
                 id="phn"
                 name="phn"
                 fpcareRequired="required,phn-check"
                 [(ngModel)]="applicant.phn"
                 [disabled]="disablePhn()">
        </div>

        <div class="form-group">
          <label>Birth Date</label>
          <fpcare-date
                  [useCurrentDate]="false"
                  [date]="applicant.dateOfBirth"
                  [restrictDate]="'past'"
                  [disabled]="disablePhn()">
          </fpcare-date>
        </div>

        <div class="form-group">
          <label for="mail_pc">Mailing Postal Code</label>
          <input class="form-control"
                 type="text"
                 id="mail_pc"
                 name="mail_pc"
                 fpcareRequired="required,postal-code"
                 [(ngModel)]="applicant.address.postal"
                 [disabled]="disablePhn()">
        </div>
      </div>
      <div class="col-lg-1 or-col text-center">
        or
      </div>
      <div class="col-lg-5 p-lg-2 bg-light rounded order-sm-first order-lg-last align-self-start">
        <div class="form-group">
          <label for="regNumber">Registration Number</label>
          <input class="form-control"
                 type="text"
                 id="regNumber"
                 name="regNumber"
                 fpcareRequired="required,regnum-check"
                 [(ngModel)]="applicant.fpcRegNumber"
                 [disabled]="disableRegNum()">
        </div>
      </div>
    </div>
    <div class="mt-md-3 px-3 px-md-2">
      <captcha [apiBaseUrl]="captchaApiBaseUrl" [nonce]="nonce" (onValidToken)="setToken($event)"></captcha>
    </div>
  </form>


  <aside>

    <div>
      <h5>PHN</h5>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>

      <h5>Registration Number</h5>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
    </div>

    <div class="todo">
      <ul>
        <!-- <li class='done'>Need to add captcha to page</li>
        <li class='done'>Add helper text for PHN and Registration Number to "aside"</li>
        <li class='done'>ENABLE PHN CHECK VERIFICATION module</li>
        <li class='done'>Fix positioning of "or"</li>
        <li class='done'>Styling of bottom bar</li>
        <li class='done'>CAPTCHA positioning (padding/margin)</li>
        <li class='done'>Disable dummy data (env variable)</li> -->
        <!-- <li>Make sure can't continue with incomplete fields for Reg #, e.g. just 'A'</li> -->
        <li>Don't show Reg # validation errors while user is still filling out line (show errors on blur)</li>
        <!-- <li class='done'>Force date component errors on next line</li> -->
        <li class='done'>Mobile sizing (including header)</li>
        <li class='done'>Date component responsiveness</li>
        <li class='done'>Improve performance. Using 100% CPU due to ngDoCheck()</li>
        <li class='done'>Retrieve proper data (end-to-end) for PHN</li>
        <li class='done'>Retrieve proper data (end-to-end) for Reg #</li>
        <li>Disable 'continue' button when request is active - stop duplicates</li>
        <li>Have loadingSpinner like Prime on continue button while awaiting response</li>
        <li>Hide this 'todo' box on prod (env variables)</li>
        
      </ul>
    </div>
  </aside>

  <fpcare-form-action-bar
          [canContinue]="canContinue()"
          (click)="continue()"
          [isLoading]="loading">
  </fpcare-form-action-bar>

</fpcare-page-framework>