
<div>
  PLACE HOLDER FOR ANNUAL DEDUCTIBLE INFORMATION

  <div class="todo">
    Mockup appears to have this information span entire page - outside framework on this page
  </div>
</div>

<fpcare-page-framework layout='double'>

  <div>
  <h2>Applicant Information
    <i class="fa fa-pencil float-right pointer" aria-hidden="true"></i>
  </h2>
    <div class="bg-light">
      <div>Name</div>
      <div>Personal Health Number</div>
      <div>Birthdate</div>
      <div>Social Insurance Number</div>
    </div>

  </div>

  <div>
    <h2>Spouse Information
      <i class="fa fa-pencil float-right pointer" aria-hidden="true"></i>
    </h2>
  </div>

  <div>
    <h2>Child Information
      <i class="fa fa-pencil float-right pointer" aria-hidden="true"></i>
    </h2>

  </div>

  <div>
    <h2>Contact Information
      <i class="fa fa-pencil float-right pointer" aria-hidden="true"></i>
    </h2>

  </div>

  <aside>
    <div>
      <h2>Financial Information
        <i class="fa fa-pencil float-right pointer" aria-hidden="true"></i>
      </h2>
    </div>
  </aside>

  <fpcare-form-action-bar
          [canContinue]="canContinue()"
          (click)="continue()">
  </fpcare-form-action-bar>
  
</fpcare-page-framework>