<common-page-framework layout='blank'>

  <h1>Review Application</h1>
  <p>
    Please review the information you have entered prior to submitting your application.
  </p>

  <fpcare-annual-deductible
    [familyNetIncome]="adjustedIncomeAmount"
    [bornBefore1939]="bornBefore1939"
    [isReview]="'true'">
  </fpcare-annual-deductible>

  <common-page-section layout='double'>
    <div>
      <h2>Applicant Information
        <i class="fa fa-pencil edit--icon" aria-hidden="true" (click)="editPersonalInfo()"></i>
      </h2>
      <div class="bg-light section">
        <div class="line-item">
          <div class="line-item--text">Name</div>
          <div class="line-item--value">{{applicant.name}}</div>
        </div>
        <div class="line-item">
          <div class="line-item--text">Personal Health Number (PHN)</div>
          <div class="line-item--value">{{applicant.phn}}</div>
        </div>
        <div class="line-item">
          <div class="line-item--text">Birthdate</div>
          <div class="line-item--value">{{getApplicantDob()}}</div>
        </div>
        <div class="line-item">
          <div class="line-item--text">Social Insurance Number (SIN)</div>
          <div class="line-item--value">{{applicant.sin}}</div>
        </div>
      </div>
    </div>

    <div>
      <h2>Spouse/Common-law Partner Information
        <i class="fa fa-pencil edit--icon"
          aria-hidden="true"
          (click)="editSpouse()"></i>
      </h2>
      <div class="bg-light section">
        <div *ngIf="hasSpouse; else noSpouse">
          <div class="line-item">
            <div class="line-item--text">Name</div>
            <div class="line-item--value">{{spouse.name}}</div>
          </div>
          <div class="line-item">
            <div class="line-item--text">Personal Health Number (PHN)</div>
            <div class="line-item--value">{{spouse.phn}}</div>
          </div>
          <div class="line-item">
            <div class="line-item--text">Birthdate</div>
            <div class="line-item--value">{{getSpouseDob()}}</div>
          </div>
          <div class="line-item">
            <div class="line-item--text">Social Insurance Number (SIN)</div>
            <div class="line-item--value">{{spouse.sin}}</div>
          </div>
        </div>
      </div>
    </div>

    <div>
      <h2>Child Information
        <i class="fa fa-pencil edit--icon" aria-hidden="true" (click)="editChildInfo()"></i>
      </h2>
      <div class="bg-light section">
        <div *ngFor="let child of children">
          <div class="line-item">
            <div class="line-item--text">Name</div>
            <div class="line-item--value">{{child.name}}</div>
          </div>
          <div class="line-item">
            <div class="line-item--text">Personal Health Number (PHN)</div>
            <div class="line-item--value">{{child.phn}}</div>
          </div>
          <div class="line-item">
            <div class="line-item--text">Birthdate</div>
            <div class="line-item--value">{{getChildDob(child)}}</div>
          </div>
          <!-- Space between next child for readibility -->
          <br *ngIf="children.length - 1 !== children.indexOf(child)"/>
        </div>
        <div class="p-md-1" *ngIf="!hasChildren">No Children Added</div>
      </div>
    </div>

    <aside>
      <div>
        <h2>Contact Information
          <i class="fa fa-pencil edit--icon" aria-hidden="true" (click)="editContactInfo()"></i>
        </h2>
        <div class="bg-light section">
          <div class="line-item">
            <div class="line-item--text">Mailing Address</div>
            <div *ngIf="!isAddressUpdated; else updatedAddress" class="line-item--value">{{getPostalCode()}}</div>
          </div>
        </div>
      </div>

      <div>
        <h2>Financial Information
          <i class="fa fa-pencil edit--icon" aria-hidden="true" (click)="editFinancialInfo()"></i>
        </h2>
        <div class="bg-light section">
          <div class="pb-2">
            <div class="line-item">
              <div class="line-item--text">Your net annual income</div>
              <div class="line-item--value">{{applicantIncome}}</div>
            </div>
            <div class="line-item">
              <div class="line-item--text">Spouse/common-law partner declared?</div>
              <div class="line-item--value">{{hasSpouse ? 'Yes' : 'No'}}</div>
            </div>
            <div *ngIf="hasSpouse" class="line-item">
              <div class="line-item--text">Spouse's net annual income</div>
              <div class="line-item--value">{{spouseIncome}}</div>
            </div>
            <div class="line-item">
              <div class="line-item--text font-weight-bold">Family net annual income</div>
              <div class="line-item--value font-weight-bold">{{totalFamilyAnnualIncome}}</div>
            </div>
          </div>

          <div class="pb-2">
            <div class="line-item">
              <div class="line-item--text">Your Registered Disability Savings Plan amount</div>
              <div class="line-item--value">{{disabilityAmount}}</div>
            </div>
            <div *ngIf="hasSpouse" class="line-item">
              <div class="line-item--text">Spouse's Registered Disability Savings Plan amount</div>
              <div class="line-item--value">{{spouseDisabilityAmount}}</div>
            </div>
            <div class="line-item">
              <div class="line-item--text font-weight-bold">Total family deductions</div>
              <div class="line-item--value font-weight-bold">{{totalDisabilityAmount}}</div>
            </div>
          </div>

          <div class="line-item pb-2">
            <div class="line-item--text font-weight-bold">Family adjusted income</div>
            <div class="line-item--value font-weight-bold">{{adjustedIncome}}</div>
          </div>
        </div>
      </div>
    </aside>
  </common-page-section>

  <common-form-action-bar
          (btnClick)="continue()">
  </common-form-action-bar>
  
</common-page-framework>


<ng-template #noSpouse>
  <div class="p-md-1">No Spouse Added</div>
</ng-template>

<!-- There is no updated address -->
<ng-template #updatedAddress>
  <div class="line-item--value">
    <div>{{getStreet()}}</div>
    <div>{{getCity()}}, {{getProvince()}}</div>
    <div>{{getPostalCode()}}</div>
    <div>{{getCountry()}}</div>
  </div>
 </ng-template>