<div bsModal #informationCollectionModal="bs-modal"
     class="modal fade"
     tabindex="-1"
     role="dialog"
     [config]="{backdrop: true, ignoreBackdropClick: true }"
     aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header modal-header-primary">
        <h2 class="modal-title pull-left">Information Collection Notice</h2>
      </div>
      <div class="modal-body">
        <p>
          Keep your personal information secure - especially when using a shared computer at a library, school or
          cafe.  To remove any information you entered, either complete the application and submit it or, if you don't
          finish, close the we brower.
        </p>
        <p>
          Need to take a break and come back later?  The data you enter on this form is saved on the computer or
          device you are using until you close the web browser or submit your application.
        </p>
        <p>
          Personal information is collected, used, disclosed and provided security in accordance with the British
          Columbia Freedom of Information and Protection of Privacy Act.  If you have any questions about the
          collection or use of this information, please contact
          <a href="https://www2.gov.bc.ca/gov/content/health/health-drug-coverage/pharmacare-for-bc-residents/contact-us">
          Health Insurance BC
          </a>.
        </p>
        <br>
        <div class="checkbox checkbox-success checkbox-inline">
          <input class="input-lg" id="agree" type="checkbox" [(ngModel)]="agreeCheck">
          <label class="" for="agree"><strong>I have read and understand this information</strong></label>
        </div>
      </div>
      <div class="modal-footer">
        <button [disabled]="!agreeCheck" class="btn btn-block btn-primary pull-left" type="submit" (click)="closeModal()">Continue</button>
      </div>
    </div>
  </div>
</div>
