<fpcare-page-framework layout='default'>

  <h1>
    Tell us a bit about who's applying for Fair PharmaCare coverage
  </h1>

  <div>
    Enter each person's Personal Health Number as shown on your B.C. Services Card.
  </div>

  <form #formRef="ngForm" novalidate>

    <h2 class="border-bottom">Your Information</h2>

    <div class="p-md-2 col-md-6">
      <div class="form-group">
        <label for="ap_phn">PHN</label>
        <input class="form-control"
               type="text"
               id="ap_phn"
               name="ap_phn"
               fpcareRequired="required,phn-check"
               [(ngModel)]="applicant.phn">
      </div>

      <div class="form-group">
        <label for="ap_dob">Birthdate</label>
        <fpcare-date
                id="ap_dob"
                [useCurrentDate]="false"
                [date]="applicant.dateOfBirth"
                [restrictDate]="past">
        </fpcare-date>
      </div>
    </div>

    <div  *ngIf="hasSpouse()">

      <h2 class="border-bottom">Spouse Information</h2>

      <div class="p-md-2 col-md-6">
        <div class="form-group">
          <label for="ap_phn">PHN</label>
          <input class="form-control"
                 type="text"
                 id="sp_phn"
                 name="sp_phn"
                 fpcareRequired="required,phn-check"
                 [(ngModel)]="spouse.phn">
        </div>

        <div *ngIf="hasUniquePhnError()" role="alert" aria-live="assertive">
          <div class="text-danger">This PHN was already used for registrant.</div>
        </div>

        <div class="form-group">
          <label for="sp_dob">Birthdate</label>
          <fpcare-date
                  id="sp_dob"
                  [useCurrentDate]="false"
                  [date]="spouse.dateOfBirth"
                  [restrictDate]="past">
          </fpcare-date>
        </div>
      </div>
    </div>

  </form>

  <aside>
    <div class="todo">
      <strong>TODO</strong>
      <ul>
        <li>Add helper text to "aside"</li>
      </ul>
    </div>
  </aside>

  <fpcare-form-action-bar
    [canContinue]="canContinue()"
    (click)="continue()">
  </fpcare-form-action-bar>

</fpcare-page-framework>