<fpcare-page-framework layout='single'>

  <div class="errorbox border-danger p-md-4">
    <!--<ng-content select="[title]"></ng-content>

    <div class="p-md-2 bg-light">
      <ng-content></ng-content>
    </div> -->
    <h2>Message to alert the user to a problem goes here</h2>
    <p>Optional description of the errors and how to correct them</p>
    <p><a href="javascript:void(0)" class="text-danger h4">Descriptive link to the question with an error</a></p>
  </div>

</fpcare-page-framework>
