<fpcare-results-framework [displayIcon]="getErrorIcon()" [hasBody]="errorResponse">

  <h1 title>Fair PharmaCare Status</h1>

  <div body>
    <!--
      Using innerHTML bypasses angular's security sanitzation, so we can
      directly include links.  This is safe only because we know we control
      the messages coming back and no user supplied content will ever appear
      here.
    -->
    <p class="font-weight-normal" [innerHTML]="errorResponse">"{{errorResponse}}"</p>
  </div>

</fpcare-results-framework>